#grid-container {
  display: grid;
  grid-template-columns: repeat(squareInput, 25px);
  grid-template-rows: repeat(squareInput, 25px);
  width: auto;
}

.sketch {
    background: black;
    height: 20px;
    width: 20px;
    margin: 5px;
}
